body {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 50px;
}

div {
	width: 900px; 
	margin: 0 auto; 
}

#wrap {
	width: 900px; 
	margin: 0 auto; 
}

.list-group.small-list{
	width: 300px;
	margin: 0 auto;
	float: left;
	padding: 5px;
}

.side-by-side{
	display: inline;
}

